name: Lint LaTeX document
on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
    lint_latex:
        runs-on: ubuntu-latest
        steps:
            - name: Set up Git repository
              uses: actions/checkout@v4
            - name: fix permissions
              run: "chown -R $(id -u):$(id -g) ."
            - name: set git variables
              run: |
                git config user.name "GitHub Actions Bot"
                git config user.email "<>"
            - name: cleanup old report HTML
              run: |
                git rm --ignore-unmatch report.html
                git commit --allow-empty -m 'removing old report HTML, github action'
                git push
            - name: Lint LaTeX document
              uses: ChiefGokhlayeh/textidote-action@v5
              id: lint
              with:
                  root_file: main.tex
                  ## Implied defaults:
                  # working_directory:
                  # report_type: html
                  # report_file: report.html

                  ## Use this setting to pass custom arguments options to
                  ## TeXtidote (such as what grammar checker to use).
                  # args:
            - name: adding new HTML
              run: |
                git add report.html
                git commit -m 'adding new report HTML, github action'
                git push
